.column-item-image img {
    position: absolute;
    width: 72%; 
    height: 60%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.column-item:hover {
    transform: scale(1.05);
    z-index: 10;
}

.column-item:hover .column-item-image img {
    transform: scale(1.05);
}